#	ignore file for Narai Mud and Unix
#
# file types to ignore

*.o
*.log
*.pid
*.x.y
*.sta

# generic unix files

*.tar
*.txz

*.core
*.out
*.tmp
*.swp
*.diff

# directories to ignore

bin/
src/[Oo]bj/
[Tt]mp/

users/boards/
users/log/
users/stash/

# files to ignore

src/.depend
users/players*
users/stash*
run-mud
log-check
log-run
log-last

# end of .gitignore
