#	ignore file for Narai Mud and Unix
#
# file types to ignore

*.o
*.log
*.pid
*.x.y

# generic unix files

*.tar
*.txz

*.core
*.out
*.tmp
*.diff
*.depend

# directories to ignore

bin/
[Oo]bj/
src/[Oo]bj/
[Tt]mp/
log/

lib/boards/
lib/mboxes/
lib/log/
lib/stash/

# files to ignore

src/.depend
lib/players*
lib/stash*
mud-narai*
run-*

# end of .gitignore
